[submodule "tests"]
	path = tests/testdata
	url = https://github.com/ethereum/tests
[submodule "contracts/plasma/plasma-evm-cotracts"]
	path = contracts/plasma/plasma-evm-cotracts
	url = https://github.com/Onther-Tech/plasma-evm-contracts.git
